body {
	margin-top: 0px;
	padding: 0px;
	margin-left: 100px;
	margin-right: 100px;
	font-family: 'Heebo', sans-serif;
	color: #305DF2;
	background-color: whitesmoke;
}

h2 {
	margin: auto;
}



.header {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.btn{
	text-decoration:none;
	border: none;
	font-family: 'Heebo', sans-serif;
	color: #305DF2;
}

.btn:hover {
	background-color:#5555;
}
.btn:active {
	position:relative;
	top:1px;
}

#sine {
	background-image: url("sine.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

#sine_2 {
	background-image: url("sine.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

#sine_3 {
	background-image: url("sine.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

#triangle {
	background-image: url("triangle.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

#triangle_2 {
	background-image: url("triangle.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

#triangle_3 {
	background-image: url("triangle.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}


#sawtooth {
	background-image: url("sawtooth.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

#sawtooth_2 {
	background-image: url("sawtooth.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

#sawtooth_3 {
	background-image: url("sawtooth.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

#square {
	background-image: url("square.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

#square_2 {
	background-image: url("square.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

#square_3 {
	background-image: url("square.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}